@import "bootstrap-sprockets";
@import "bootstrap";
body{

}
.header{
  height: 60px;
  background: #2AADE5;

}

.headerlist{
  height: 60px;
  background: #2AADE5;
  position: absolute;
  left:20px;
  li{
    position: relative;
    padding-right: 20px;
    padding-top: 20px;
    display: inline-block;

  }a{
      text-align: center;
      font-size:16px;
      color:#ffffff;
      .gravatar{
        max-width: 20px;
       height: auto;
      }
  }
  :hover {
    // font-weight: bold;
    color:#111;
  }
}


#react-search{
   position: absolute;
   top:60px;
   left:20px;
 }
#edit{
  position: absolute;
  top:60px;
  left:20px;
}
#user{
  position: absolute;
  top:60px;
  left:20px;
  .gravatar {
  margin-right: 15px;
  }
}
#id{
  position: absolute;
  top:60px;
  left:20px;
}
#signup{
  position: absolute;
  left:20px;
}
#login{
  position: absolute;
  left:20px;
}
